*{
	margin: 0 0;
 }

 body{
 	background-color: #f1c40f;
	-webkit-animation: color 5s ease-in  0s infinite alternate running;
	-moz-animation: color 5s linear  0s infinite alternate running;
	animation: color 5s linear  0s infinite alternate running;
 }

 /* Animasi + Prefix untuk browser */
@-webkit-keyframes color {
    0% { background-color: #474444; }
    32% { background-color: #373535; }
    55% { background-color: #272626; }
    76% { background-color: #171616; }
    100% { background-color: #070707; }
}
@-moz-keyframes color {
     0% { background-color: #474444; }
    32% { background-color: #373535; }
    55% { background-color: #272626; }
    76% { background-color: #171616; }
    100% { background-color: #070707; }
}
@keyframes color {
  0% { background-color: #474444; }
    32% { background-color: #373535; }
    55% { background-color: #272626; }
    76% { background-color: #171616; }
    100% { background-color: #070707; }
}
 
 @font-face{
 	font-family: "fontlogo" ;
 	src:url('DevilBreezeBold.ttf')
 }

 @font-face{
 	font-family: "fontutama" ;
 	src:url('GothamLight.ttf')
 }

 @font-face{
 	font-family: "font2" ;
 	src:url('OstrichSansHeavy.otf')
 }

 @font-face{
 	font-family: "font3" ;
 	src:url('AprilFoolsDay.ttf')
 }

  @font-face{
 	font-family: "font4" ;
 	src:url('CicleGordita.ttf')
 }

/* COODING LOGO SAMPING KIRI */
#logo-samping-kiri{
	z-index: 1000;
	width: 3%;
	position: fixed;
	margin-top: 5px;
}

#logo-samping-kiri > a > img{
	width: 40px;
	height:40px;
	background:linear-gradient(50deg, #366087, #6d1aa7);
	border-radius: 0 10px 10px 0;
	padding: 5px;
}


 /* CODINGAN NAVBAR */
header{
}

 #navigasiatas{ 	
 	top: 0;
 	width: 100%;
 	position: fixed;
}
 
  nav {
 	 background:linear-gradient(5deg, #366087, #6d1aa7);
	 list-style: none;
	 font-family: arial;
	 display: inline-block;
	 width: 100%;
	 border-bottom-right-radius: 10px;
	 border-bottom-left-radius: 10px;
 }

 nav h1{
 	 font-family: "fontlogo" ;
 	 text-decoration: none; 
 	 display: inline-block;
 	 float: left;
 }

 nav h1 a{
 	 text-decoration: none; 
 	 display: inline-block;
 	 padding: 15px;
	 color: #fff;
 }

nav ul li{
	font-size: 25px;
	font-family: "font3" ;
	 float:right;
	 list-style: none;
 }

nav ul li:hover{
 	background:rgba(126,188,216,0.5);
 	border-radius: 15px 2px;
 }
nav ul li:hover a{
	 color:#000;
 }

 nav ul li a{
 	 display: inline-block;
	 padding: 15px;
	 color: #fff;
	 text-decoration: none; 
}
.menu{
	display: none;
}



/* COODING TOPIC TEXT */
#TOPIC{
	 background-color: rgba(98,	99,	109,0.3);
	 margin-left: 10%;
	 margin-right: 10%;
	 margin-top: 100px;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 border-radius: 20px;
}

#topictext{
	color: white;
	font-family: "font3" ;
	font-size: 50px;
	text-align: center;
}

#isi{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
}


#chatlive{
	border-radius: 10px;
	float: right;
	display: inline-block;
	margin-bottom: 30px;
	width: 19%;
	height: 1000px;
	background-color: red;
	color: white;
}

/* COODING POST1 */
.post{
	display: inline-block;
	width: 400px;
	height: 450px;
	margin-bottom: 15px;
	color: white;
	margin-right: 3px;
}

.gambar-post{
	border-radius: 5px;
	width: 400px;
	height: 270px;
}

.wibukuu2018{
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.text-post{
	color: white;
	text-decoration: none; 
	font-family: "font2" ;
	font-size: 30px;
	line-height: 25px;
	letter-spacing: 2px; 
}

.text-post:hover{
	color: yellow;
}

.pembataslist{
	margin-top: 10px;
	border: 1px solid white;
}

.fotoadmin{
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	border-radius: 100%;
	width: 30px;
	height: 30px;
}

.tanda-admin{
	font-size: 15px;
	text-align: justify-all;
	text-decoration: none;
	margin-top: 25px;
	margin-left: 5px;
 	 display: inline-block;
	 color: #fff;
	 font-family: "font4" ;
}

.textby{
	font-size: 15px;
}

.tanda-admin:hover{
	border-bottom: 1px solid white;
}


/* COODINGAN FOOTER */

#footersize{
	margin-left: 10%;
	margin-right: 10%;
}

footer{
	background-color: #282626;
	display: inline-block;
	width: 100%;
	height: 300px;

}

#text-footer{
	color: grey;
	font-family: "fontutama" ;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	font-size: 20px;
}

#logo-footer{
	color: grey;
	padding-top: 10px;
	padding-left:3px;
	display: inline-block;
}

.logo-sosial-footer{
	padding-right:3px;
	font-size: 25px;
}

#pembataslistfooter{
	border-bottom:1px #8D8D8D;
	border-bottom-style: groove;

}

#copyright{
	border-top:1px #8D8D8D;
	border-top-style: groove;
	padding-left: 10px;
	margin-top: 200px;
	padding-top: 20px;
	font-size: 15px;
	font-family: "fontutama" ;
	color: white;
}

